{% extends 'foundation/base.html' %}
{% load foundation_tags %}
{% load alias_extras %}
{% load staticfiles %}

{% block title %}Create Account{% endblock %}

{% block css %}
{% foundation_css 'foundation-icons' %}
<link rel="stylesheet" type="text/css" href="{% static 'alias/create.css' %}">
{% endblock %}

{% block body_js %}
{% endblock %}

{% block base_body %}
    <!-- Navigation Bar -->
    <nav id="navigation-bar" class="top-bar" data-topbar>
        <h1>mingle</h1>
    </nav>
    <div id="content" class="create">
        <form method="POST">{% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    {{ field | set_class:"create-input" }}
                    <small class="error">{{ field.errors }}</small>
                {% else %}
                    {{ field | set_class:"create-input" }}
                {% endif %}
            {% endfor %}
            <input type="Submit" class="button radius" value="Create New Account">
        </form>
        <a href="mingle://" class="button radius">Cancel</a>
    </div>
{% endblock %}